.fallin {
  //animation: 1s ease forwards bubble;
  // border-style: solid;
  // border-color: $accent-color;?
  margin: 1px;
  // border-width: 1px;SS
  animation-duration: 1s;
  animation-name: slidein;
  //animation-fill-mode: forwards;

}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.fade-in-text {
  display: inline-block;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes jiggle {
  /* start at 0deg and this scale size.
     scale size is repeated here to maintain smooth scaling */
  0% {transform: rotate(0deg) scale(1.15,1.15);}
  /* midway rotate 2deg right */
  50% {transform: rotate(2deg) scale(1.15,1.15);}
  /* end rotate -2deg left */
  100% {transform: rotate(-2deg) scale(1.15,1.15)}
}

.jiggle {
  /* on hover - scale to this x,y size */
  transform: scale(1.15,1.15);
  /* property values: name, duration, iteration, timing-function */
  animation: jiggle 0.5s infinite linear;
}

