@use 'styles/colors' as c;

@import "../node_modules/bootstrap/scss/functions";
//// 2. Include any default variable overrides here
$font-family-base: 'Fira Code', monospace;


//// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

body {
  font-family: $font-family-base;
  background: c.$primary-color;
  //background: s.$primary-color;
  //font-weight: map-get(s.$font-weights, regular);
  //color: s.$accent-color;
}

.main-panel {
  margin: 0 1px;
}
