@use "sass:color";
@use 'styles/index';

body {
  font-family: index.$font-family-base;
  background: index.$background-color;
  color: index.$text-color;
  margin: 1%;
  //background: s.$primary-color;
  //font-weight: map-get(s.$font-weights, regular);
  //color: s.$accent-color;
}

.well {
  background-color: index.$accent-color;
  width: 100%;
  //height: 1000px;
  margin: 1%;
}

.shiny-input-panel {
  background-color: index.$accent-color;
}