.fallin {
  //animation: 1s ease forwards bubble;
  // border-style: solid;
  // border-color: $accent-color;?
  margin: 1px;
  // border-width: 1px;SS
  animation-duration: 1s;
  animation-name: slidein;
  //animation-fill-mode: forwards;

}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
